<h1>Books</h1>
<p>Books from docker, mongoDb</p>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Author</th>
      <th>ISB</th>
      <th>Book Origin</th>
      <th>Address List</th>
      <th>Related <br />Persons list</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of bookList">
      <td>
        <button type="button" class="btn btn-default btn-sm" routerLink="">
          <i class="bi bi-alarm-fill"></i>
          Edit
        </button>
      </td>
      <td>{{ book.id }}</td>
      <td>{{ book.bookName }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.category }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.isb }}</td>
      <td>{{ book.bookOrigin }}</td>
      <td>
        <ul *ngFor="let address of book.addressList">
          <li>
            {{ address.address1 + " " }} {{ address.address2 + " " }}
            {{ address.city + " " }} {{ address.state + " " }}
            {{ address.zip + " " }}
          </li>
        </ul>
      </td>
      <td>
        <ul *ngFor="let person of book.relatedPersonList">
          <li>
            {{ person.name + "; " }}
          </li>
        </ul>
      </td>

      <!-- <td><div [ngStyle]="'background-image':'url('https://res.cloudinary.com/demo/image/upload/v1312461204/sample.jpg')'}"></div></td> -->
    </tr>
  </tbody>
</table>
